body {
    background-color: rgb(239, 29, 6);
    text-align: left;
    color: rgb(199, 199, 222);
    padding: 10x;
    font-size:20px;
}

h1 {
    color: aqua;
    text-align: center;
}

header {
    background-color: rgb(245, 237, 8);
    border-radius: 10cm;
    padding: 50px;
    text-align: left;
    font-size: 20px;
}

h2 {
    color: blueviolet;
    text-align: center;
}

ol {
    color: rgb(242, 241, 241);
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}
#p1{
    color: bisque;
    font-size: 20px;
    text-align: left; 
}
#p2{
    color: rgb(1, 8, 8);
    font-size: 20px;
    text-align: left;
}
